<mat-card id="comment-card" [ngClass]="{'highlighted': comment.highlighted, '': !comment.highlighted,
          'moderator': moderator}"
          [@slide]="slideAnimationState" (@slide.done)="changeSlideState()">
  <div fxLayout="column">
    <div fxLayout="row" class="comment-actions">
      <div class="date-container">
        <div class="date" *ngIf="language === 'de'; else englishDate">
          {{deviceType === 'desktop' ? (comment.timestamp | date: ' dd.MM.yy | HH:mm ')  :
          (comment.timestamp | date: ' HH:mm ')}}
        </div>
        <ng-template class="date" #englishDate>
          {{deviceType === 'desktop' ? (comment.timestamp | date: ' M/d/yy | h:mm a ') :
          (comment.timestamp | date: ' h:mm a ')}}
        </ng-template>
      </div>
      <button mat-icon-button *ngIf="comment.read" [disabled]="true" (click)="setRead(comment)">
        <mat-icon svgIcon="beamer" class="beamer-icon"
                  matTooltip="{{ 'comment-page.mark-read' | translate }}">
        </mat-icon>
      </button>
      <span class="fill-remaining-space"></span>

      <button mat-icon-button *ngIf="(isCreator || isModerator || comment.answer) && !inAnswerView"
              (click)="answerComment()" tabindex="0">
        <mat-icon class="not-marked" [ngClass]="{'answered-icon' : comment.answer}"
                  matTooltip="{{comment.answer ? ('comment-page.has-answer' | translate) :
                  ('comment-page.answer' | translate) }}">
          comment
        </mat-icon>
      </button>

      <button mat-icon-button *ngIf="(!isStudent || comment.correct === 1) && !moderator" [disabled]="isStudent"
              (click)="markCorrect(comment, 1)" tabindex="0" attr.aria-labelledby="comment_correct{{ comment.id }}">
        <mat-icon [ngClass]="{'correct-icon' : comment.correct === 1,
                              'not-marked' : (comment.correct === 0 || comment.correct === 2)}"
                  [matTooltip]="comment.correct !== 1 ? ('comment-page.mark-correct' | translate)
                                                 : ('comment-page.mark-not-correct' | translate)">check_circle
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="(!isStudent || comment.correct === 2) && !moderator" [disabled]="isStudent"
              (click)="markCorrect(comment, 2)" tabindex="0" attr.aria-labelledby="comment_not_correct{{ comment.id }}">
        <mat-icon [ngClass]="{'wrong-icon' : comment.correct === 2,
                              'not-marked' : (comment.correct === 0 || comment.correct === 1)}"
                  [matTooltip]="comment.correct != 2 ? ('comment-page.mark-wrong' | translate)
                                                 : ('comment-page.mark-not-wrong' | translate)">not_interested
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="(!isStudent || comment.favorite) && !moderator" [disabled]="isStudent"
              (click)="setFavorite(comment)" tabindex="0" attr.aria-labelledby="comment_grade{{ comment.id }}">
        <mat-icon [ngClass]="{'favorite-icon' : comment.favorite, 'not-marked' : !comment.favorite}"
                  [matTooltip]="!comment.favorite ? ('comment-page.mark-favorite' | translate)
                                                 : ('comment-page.mark-not-favorite' | translate)">grade
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="isCreator && !comment.favorite && !inAnswerView" (click)="openDeleteCommentDialog()"
              tabindex="0" attr.aria-labelledby="comment_delete{{ comment.id }}">
        <mat-icon class="not-marked" matTooltip="{{ 'comment-page.delete' | translate }}">delete
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isCreator || isModerator) && !inAnswerView" (click)="setAck(comment)"
              tabindex="0" attr.aria-labelledby="comment_moderation{{ comment.id }}">
        <mat-icon class="gavel" [matTooltip]="!comment.ack ? ('comment-page.acknowledge' | translate)
                                                        : ('comment-page.reject' | translate)">gavel
        </mat-icon>
      </button>
    </div>
    <div fxLayout="row">
      <div class="body click" (click)="openPresentDialog(comment)" style="width:100%;"
           tabindex="0" attr.aria-labelledby="comment-{{ comment.id }}">
        <ars-row #commentBody>
          <ars-row #commentBodyInner>
            <markdown [data]="comment.body"></markdown>
          </ars-row>
        </ars-row>
        <span id="comment-{{ comment.id }}" class="visually-hidden" aria-hidden="true">{{ 'comment-page.comment' | translate: {
            time: (language === 'de' ? (comment.timestamp | date: ' HH:mm ') : (comment.timestamp | date: 'h:mm a')),
            votes: comment.score === 1 ? ('comment-page.a11y-text_textForOneVote' | translate) : comment.score + ('comment-page.a11y-text_textForVotes' | translate),
            comment: comment.body.trim(),
            correct: comment.correct === 1 ? ('comment-page.a11y-text_correct' | translate) : "",
            wrong: comment.correct === 2 ? ('comment-page.a11y-text_wrong' | translate) : "",
            bonus: comment.favorite ? ('comment-page.a11y-text_grade' | translate) : "",
            beamer: comment.read ? ('comment-page.a11y-text_read' | translate) : ""
          }
          }}</span>
      </div>
      <div fxLayout="column" *ngIf="isStudent" [ngClass]="{ '1': 'voteUp', '-1': 'voteDown', '0': 'reset'}[currentVote]">
        <button mat-icon-button (click)="voteUp(comment)" matTooltip="{{ 'comment-page.vote-up' | translate }}"
                tabindex="0" attr.aria-labelledby="comment_vote_up{{ comment.id }}">
          <mat-icon class="voting-icon" [ngClass]="{'upVoted' : hasVoted === 1}">keyboard_arrow_up</mat-icon>
        </button>
        <span class="score">{{comment.score}}</span>
        <button mat-icon-button (click)="voteDown(comment)" matTooltip="{{ 'comment-page.vote-down' | translate }}"
                tabindex="0" attr.aria-labelledby="comment_vote_down{{ comment.id }}">
          <mat-icon class="voting-icon" [ngClass]="{'downVoted' : hasVoted === -1}">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div *ngIf="!isStudent" fxLayout="column" fxLayoutAlign="center">
        <span class="scoreCreator">{{comment.score}}</span>
      </div>
    </div>
    <ars-row #commentExpander ars-flex-box [height]="37">
      <ars-fill></ars-fill>
      <ars-col>
        <button mat-button (click)="toggleExpand($event)"><span class="commentExpanderButton">
          {{ isExpanded ? ( 'comment-page.show-less' | translate ) : ('comment-page.show-more' | translate ) }}
        </span></button>
      </ars-col>
      <ars-fill></ars-fill>
    </ars-row>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayoutAlign="center center" (click)="this.clickedOnTag.emit(comment.tag)"
           *ngIf="comment.tag && comment.tag !== ''" class="comment-tags">
        <mat-icon svgIcon="comment_tag"></mat-icon>
        <span>
          {{comment.tag}}
        </span>
      </div>
      <div class="user-number" fxLayoutAlign="center center" (click)="this.clickedUserNumber.emit(comment.userNumber)">
        <mat-icon class="user-icon">person</mat-icon>
       <strong>
          {{comment.userNumber}}
       </strong>
      </div>
    </div>
  </div>
</mat-card>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="comment_correct{{ comment.id }}">{{comment.correct != 1 ? ('comment-page.a11y-comment_not_marked_correct' | translate)
                                                              : ('comment-page.a11y-comment_marked_correct' | translate) }}
  </div>
  <div id="comment_not_correct{{ comment.id }}">{{comment.correct != 2 ? ('comment-page.a11y-comment_not_marked_wrong' | translate)
      : ('comment-page.a11y-comment_marked_wrong' | translate) }}
  </div>
  <div id="comment_grade{{ comment.id }}">{{ !comment.favorite ? ('comment-page.a11y-comment_grade' | translate)
      : ('comment-page.a11y-comment_not_grade' | translate) }}
  </div>
  <div id="comment_delete{{ comment.id }}">{{'comment-page.a11y-comment_delete' | translate}}</div>
  <div id="comment_moderation{{ comment.id }}">{{'comment-page.a11y-comment_moderation' | translate}}</div>
  <div *ngIf="isStudent" id="comment_vote_up{{ comment.id }}">{{'comment-page.a11y-comment_vote_up' | translate}}</div>
  <div *ngIf="isStudent" id="comment_vote_down{{ comment.id }}">{{'comment-page.a11y-comment_vote_down' | translate}}</div>
</div>
